@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Russo+One&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,200&display=swap');
/*Defining some global styles */

*{
    margin: 0;
    padding: 0;
}

html, body{
    /*font-family: 'Caveat', cursive;
    font-family: 'Russo One', sans-serif;*/
    font-family: 'Work Sans', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 1rem;
    scroll-behavior: smooth;
    
    
}

a{
  text-decoration: none;
}

/* ----------------------------------------------- */
/* Extras*/
/* ----------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3c1642; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: #b2ff9e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #086375; 
  }



/* ----------------------------------------------- */
  /*---------Background------------*/
/* ----------------------------------------------- */

body{
    
    background-position: center;
    background-attachment: fixed;
    background-image: url(./assets/background-alelimon.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

/* ----------------------------------------------- */
  /*--------Nav------------*/
/* ----------------------------------------------- */

nav {
    position: fixed;
    width: 100%;
    background-color: #fae6bf;
    height: 2.7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around ;
  
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

nav li{
    
    margin: 0 3rem;
    line-height: 2.7rem;
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;

}
nav  a{
    color: #000;
    font-size: 1.2rem;
}

nav img{
    width: 130px;
    margin-top: 0.2rem;
}

.navigationList{
  display: none;
}

.iconClose{
  display: none;
}





@media only screen and (min-width: 700px)  {
  nav {
    height: 3.2rem;
}
    nav li{
      line-height: 3.2rem;      
    }

    nav  a{
        color: #000;
        font-size: 1.2rem;
    }

    nav img{
        width: 130px;
        height: auto;
        margin-top: 0.2rem;
    }
    
    .hamburger{
      display: none;
    }

    .navigationList{
      display: block;
    }

    .menu{
      display: none;
    }

   
}